In [26]:
import pandas as pd
import numpy as np

### a) Import the csv file with only the first line as header and with the first column being the index. (Treat the second header line as data for now.) Make sure the index column (“RespondentID”) is of type 'Int64'.

In [79]:
# This is how it 'should' work but there seems to be a known bug in the read_csv function:
# https://github.com/pandas-dev/pandas/issues/9435
# df = pd.read_csv("ex28_data.csv", header=0, index_col='RespondentID', dtype={'RespondentID': 'Int64'})

# Workaround: Read CSV first, drop the NA rows, then set the index and change the dtype accordingly
df = pd.read_csv("ex28_data.csv", header=0, dtype={'RespondentID': 'Int64'})
df.dropna(subset=['RespondentID'], inplace=True)
df.set_index('RespondentID', inplace=True)
df.index = df.index.astype(str).astype(int)

TypeError: Cannot cast Index to dtype <class 'int'>

In [80]:
df.index.dtype

dtype('O')

### b) The column names are too long. Change them to ['seen_any_film', 'fan_sw', 'seen_ep1',...,'seen_ep6', 'rank_ep1',..., 'rank_ep6', 'like_char1',...,'like_char14', 'first_shot', 'know_exp_univ', 'exp_univ_fan', 'fan_st', 'gender', 'age', 'h_income', 'education', 'location']. Use the first row (the second header line) to create a dictionary of film names with 'seen_ep1',...,'seen_ep6' as keys and to create a dictionary of character names with 'like_char1',...,'like_char14' as keys. Then drop that row from the data frame.

In [77]:
df.columns=['seen_any_film', 'fan_sw', 'seen_ep1', 'seen_ep2', 'seen_ep3', 'seen_ep4', 'seen_ep5', 'seen_ep6', 'rank_ep1', 'rank_ep2', 'rank_ep3', 'rank_ep4', 'rank_ep5', 'rank_ep6', 'like_char1', 'like_char2', 'like_char3', 'like_char4', 'like_char5', 'like_char6', 'like_char7', 'like_char8', 'like_char9', 'like_char10', 'like_char11', 'like_char12', 'like_char13', 'like_char14', 'first_shot', 'know_exp_univ', 'exp_univ_fan', 'fan_st', 'gender', 'age', 'h_income', 'education', 'location']

In [78]:
df.head()

,seen_any_film,fan_sw,seen_ep1,seen_ep2,seen_ep3,seen_ep4,seen_ep5,seen_ep6,rank_ep1,rank_ep2,...,like_char14,first_shot,know_exp_univ,exp_univ_fan,fan_st,gender,age,h_income,education,location
RespondentID,,,,,,,,,,,,,,,,,,,,,
3292879998,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,2,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
3292879538,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3292765271,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,2,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3292763116,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,6,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
3292731220,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,4,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central