In [217]:
import pandas as pd

### a) Import the csv file with only the first line as header and with the first column being the index. (Treat the second header line as data for now.) Make sure the index column (“RespondentID”) is of type 'Int64'.

In [218]:
# This is how it 'should' work but there seems to be a known bug in the read_csv function:
# https://github.com/pandas-dev/pandas/issues/9435
# df = pd.read_csv("ex28_data.csv", header=0, index_col='RespondentID', dtype={'RespondentID': 'int64'})

# Workaround: Read CSV first, then fill the NA Value with an int
df = pd.read_csv("ex28_data.csv", header=0, index_col='RespondentID')
df.index = df.index.fillna(0)
df.index = df.index.astype('int64')

In [219]:
df.index.dtype

dtype('int64')

### b) The column names are too long. Change them to ['seen_any_film', 'fan_sw', 'seen_ep1',...,'seen_ep6', 'rank_ep1',..., 'rank_ep6', 'like_char1',...,'like_char14', 'first_shot', 'know_exp_univ', 'exp_univ_fan', 'fan_st', 'gender', 'age', 'h_income', 'education', 'location']. Use the first row (the second header line) to create a dictionary of film names with 'seen_ep1',...,'seen_ep6' as keys and to create a dictionary of character names with 'like_char1',...,'like_char14' as keys. Then drop that row from the data frame.

In [220]:
df.columns=['seen_any_film', 'fan_sw', 'seen_ep1', 'seen_ep2', 'seen_ep3', 'seen_ep4', 'seen_ep5', 'seen_ep6', 'rank_ep1', 'rank_ep2', 'rank_ep3', 'rank_ep4', 'rank_ep5', 'rank_ep6', 'like_char1', 'like_char2', 'like_char3', 'like_char4', 'like_char5', 'like_char6', 'like_char7', 'like_char8', 'like_char9', 'like_char10', 'like_char11', 'like_char12', 'like_char13', 'like_char14', 'first_shot', 'know_exp_univ', 'exp_univ_fan', 'fan_st', 'gender', 'age', 'h_income', 'education', 'location']
films = df[['seen_ep1', 'seen_ep2', 'seen_ep3', 'seen_ep4', 'seen_ep5', 'seen_ep6']].iloc[0].to_dict()
chars = df[['like_char1', 'like_char2', 'like_char3', 'like_char4', 'like_char5', 'like_char6', 'like_char7', 'like_char8', 'like_char9', 'like_char10', 'like_char11', 'like_char12', 'like_char13', 'like_char14']].iloc[0].to_dict()
df.drop(index=0, inplace=True)

In [221]:
print(f'Films Dictionary: {films}')
print(f'Characters Dictionary: {chars}')
df.head()

Films Dictionary: {'seen_ep1': 'Star Wars: Episode I  The Phantom Menace', 'seen_ep2': 'Star Wars: Episode II  Attack of the Clones', 'seen_ep3': 'Star Wars: Episode III  Revenge of the Sith', 'seen_ep4': 'Star Wars: Episode IV  A New Hope', 'seen_ep5': 'Star Wars: Episode V The Empire Strikes Back', 'seen_ep6': 'Star Wars: Episode VI Return of the Jedi'}
Characters Dictionary: {'like_char1': 'Han Solo', 'like_char2': 'Luke Skywalker', 'like_char3': 'Princess Leia Organa', 'like_char4': 'Anakin Skywalker', 'like_char5': 'Obi Wan Kenobi', 'like_char6': 'Emperor Palpatine', 'like_char7': 'Darth Vader', 'like_char8': 'Lando Calrissian', 'like_char9': 'Boba Fett', 'like_char10': 'C-3P0', 'like_char11': 'R2 D2', 'like_char12': 'Jar Jar Binks', 'like_char13': 'Padme Amidala', 'like_char14': 'Yoda'}

,seen_any_film,fan_sw,seen_ep1,seen_ep2,seen_ep3,seen_ep4,seen_ep5,seen_ep6,rank_ep1,rank_ep2,...,like_char14,first_shot,know_exp_univ,exp_univ_fan,fan_st,gender,age,h_income,education,location
RespondentID,,,,,,,,,,,,,,,,,,,,,
3292879998,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3,2,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
3292879538,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3292765271,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1,2,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3292763116,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,6,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
3292731220,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5,4,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

### c) In the columns that belong to the question “Which of the following Star Wars films have you seen? Please select all that apply.”, the data entries contain the respective title in case the respondent has seen this film and are empty otherwise. Replace these values with “Yes” or “No”, depending on whether the respondent has seen the respective film.

In [222]:
# Fancy Nested-List-Comprehension:
# For each row iterate over the columns 'seen_epX' and check if the value is equal to the film title in the Films-Dictionary
# in that case change the value in the current cell to 'Yes' otherwise to 'No'
df[['seen_ep1', 'seen_ep2', 'seen_ep3', 'seen_ep4', 'seen_ep5', 'seen_ep6']]=[
    ['Yes' if films[col] is row[col] else 'No' for col in df[['seen_ep1', 'seen_ep2', 'seen_ep3', 'seen_ep4', 'seen_ep5', 'seen_ep6']].columns]
    for index, row in df[['seen_ep1', 'seen_ep2', 'seen_ep3', 'seen_ep4', 'seen_ep5', 'seen_ep6']].iterrows()
]

In [223]:
df.head()

,seen_any_film,fan_sw,seen_ep1,seen_ep2,seen_ep3,seen_ep4,seen_ep5,seen_ep6,rank_ep1,rank_ep2,...,like_char14,first_shot,know_exp_univ,exp_univ_fan,fan_st,gender,age,h_income,education,location
RespondentID,,,,,,,,,,,,,,,,,,,,,
3292879998,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,3,2,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
3292879538,No,NaN,No,No,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
3292765271,Yes,No,Yes,Yes,Yes,No,No,No,1,2,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3292763116,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5,6,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
3292731220,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5,4,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

### d) In the columns that belong to the question “Please state whether you view the following characters favorably, unfavorably, or are unfamiliar with him/her.”, replace the entries “Very unfavorably” by -2, “Somewhat unfavorably” by -1, “Neither favorably nor unfavorably (neutral)” by 0, “Somewhat favorably” by 1, and “Very favorably” by 2. (All numbers are integer values, not strings.) Leave the other entries in these columns as they are.

In [224]:
# Even more fancy Nested-List-Comprehension:
# Same Procedure as above -> get every row as series, then iterate over the columns and replace values based on the
# if-statements
df[['like_char1', 'like_char2', 'like_char3', 'like_char4', 'like_char5', 'like_char6', 'like_char7', 'like_char8', 'like_char9', 'like_char10', 'like_char11', 'like_char12', 'like_char13', 'like_char14']] = [
    [-2 if str(row[col]) == 'Very unfavorably' else 
     -1 if str(row[col]) == 'Somewhat unfavorably' else
      0 if str(row[col]) == 'Neither favorably nor unfavorably (neutral)' else
      1 if str(row[col]) == 'Somewhat favorably' else
      2 if str(row[col]) == 'Very favorably' else
      row[col]
    for col in df[['like_char1', 'like_char2', 'like_char3', 'like_char4', 'like_char5', 'like_char6', 'like_char7', 'like_char8', 'like_char9', 'like_char10', 'like_char11', 'like_char12', 'like_char13', 'like_char14']].columns]
    for index, row in df[['like_char1', 'like_char2', 'like_char3', 'like_char4', 'like_char5', 'like_char6', 'like_char7', 'like_char8', 'like_char9', 'like_char10', 'like_char11', 'like_char12', 'like_char13', 'like_char14']].iterrows()
]

In [225]:
df[['like_char1', 'like_char2', 'like_char3', 'like_char4', 'like_char5', 'like_char6', 'like_char7']].head()

,like_char1,like_char2,like_char3,like_char4,like_char5,like_char6,like_char7
RespondentID,,,,,,,
3292879998,2,2,2,2,2,2,2
3292879538,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3292765271,1,1,1,1,1,Unfamiliar (N/A),Unfamiliar (N/A)
3292763116,2,2,2,2,2,1,2
3292731220,2,1,1,-1,2,-2,1

### e) How many respondents are in the data set? How many are male, how many are female?

In [226]:
print(f'Respondents: {df.index.nunique()}')
print(f'NA Values: {df["gender"].isna().sum()}')
df["gender"].value_counts()

Respondents: 1186
NA Values: 140

Female    549
Male      497
Name: gender, dtype: int64